1일차 수업.json
[{"id":"75773026.4dd0b","type":"tab","label":"기본1","disabled":false,"info":""},{"id":"78c95e0a.f9b9f","type":"tab","label":"기본2(대시보드)","disabled":false,"info":""},{"id":"78e60867.18ff28","type":"tab","label":"Function","disabled":false,"info":""},{"id":"5cd6165e.74d368","type":"tab","label":"Function(Random)","disabled":false,"info":""},{"id":"405ba968.d238f8","type":"tab","label":"Function(0 to 100 up)","disabled":false,"info":""},{"id":"ded5bccd.d05ca","type":"tab","label":"Function(if)","disabled":false,"info":""},{"id":"a8ced41d.a26868","type":"tab","label":"Quiz1","disabled":false,"info":""},{"id":"494e871b.e44f98","type":"tab","label":"email","disabled":false,"info":""},{"id":"572fd832.6df9c8","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"8f46b33d.88cc4","type":"ui_group","name":"base","tab":"","disp":true,"width":"6","collapse":false},{"id":"c4af561b.2cb678","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"67df297c.a94e88","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"acfade1f.68e6d","type":"ui_group","name":"base","tab":"67df297c.a94e88","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6038285.81ef8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"e38f1e10.acbee","type":"ui_group","name":"base2","tab":"c6038285.81ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"95ea70e9.c9913","type":"ui_group","name":"up&down","tab":"c6038285.81ef8","order":2,"disp":true,"width":"6","collapse":false},{"id":"af6ed7ce.2b6e48","type":"ui_group","name":"if","tab":"c6038285.81ef8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b67372ae.b657b","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World","payloadType":"str","x":110,"y":159,"wires":[["4001f90.9aa4b08"]]},{"id":"4001f90.9aa4b08","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":159,"wires":[]},{"id":"480354e0.4adacc","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"숫자","payload":"1234","payloadType":"num","x":100,"y":239,"wires":[["49d7e829.1f4c58"]]},{"id":"e008f71f.637728","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":319,"wires":[["bd7002f6.6a9e8"]]},{"id":"3fa3958.dfa316a","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3]","payloadType":"bin","x":90,"y":399,"wires":[["63a5ed2e.a15524"]]},{"id":"d250da63.727ac8","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a\":\"123\",\"b\":\"456\"}","payloadType":"json","x":130,"y":479,"wires":[["7ee6ad40.e77524"]]},{"id":"49d7e829.1f4c58","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":239,"wires":[]},{"id":"bd7002f6.6a9e8","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":319,"wires":[]},{"id":"63a5ed2e.a15524","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":399,"wires":[]},{"id":"7ee6ad40.e77524","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":479,"wires":[]},{"id":"a9e7ff68.86276","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["26cf0190.b465ce"]]},{"id":"26cf0190.b465ce","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"29c09e57.2cdc52","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"a","payloadType":"global","x":80,"y":580,"wires":[["7c35f57.103300c"]]},{"id":"7c35f57.103300c","type":"debug","z":"75773026.4dd0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":580,"wires":[]},{"id":"1bd5c2bf.2aa47d","type":"inject","z":"75773026.4dd0b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":660,"wires":[["1e12597.84cfba7"]]},{"id":"1e12597.84cfba7","type":"function","z":"75773026.4dd0b","name":"","func":"global.set(\"a\",\"123\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":660,"wires":[[]]},{"id":"6482e175.16126","type":"ui_slider","z":"78c95e0a.f9b9f","name":"","label":"퍼센트","tooltip":"","group":"acfade1f.68e6d","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"5","x":250,"y":220,"wires":[["1be3909d.163d5f"]]},{"id":"1be3909d.163d5f","type":"ui_gauge","z":"78c95e0a.f9b9f","name":"","group":"acfade1f.68e6d","order":1,"width":0,"height":0,"gtype":"wave","title":"학업성취도","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":220,"wires":[]},{"id":"a964f71b.8fb1a8","type":"ui_chart","z":"78c95e0a.f9b9f","name":"","group":"e38f1e10.acbee","order":1,"width":"4","height":"8","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#dda1a1","#aec7e8","#ff7f0e","#bf3636","#98df8a","#d62728","#fa7575","#9467bd","#c5b0d5"],"outputs":1,"x":490,"y":380,"wires":[[]]},{"id":"2dc4ce44.a31312","type":"ui_slider","z":"78c95e0a.f9b9f","name":"","label":"slider","tooltip":"","group":"e38f1e10.acbee","order":0,"width":"6","height":"2","passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":250,"y":380,"wires":[["a964f71b.8fb1a8"]]},{"id":"b287f47a.107a58","type":"inject","z":"78e60867.18ff28","name":"현재시간","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"현재시간","payload":"","payloadType":"date","x":320,"y":280,"wires":[["f36c2d4b.216ec"]]},{"id":"f36c2d4b.216ec","type":"function","z":"78e60867.18ff28","name":"Date","func":"var date = new Date();\nmsg.payload = date;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":320,"wires":[["3e7a6eff.e4b392"]]},{"id":"3e7a6eff.e4b392","type":"debug","z":"78e60867.18ff28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":380,"wires":[]},{"id":"ed2ca0b6.01bb4","type":"inject","z":"78e60867.18ff28","name":"현재시간","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"현재시간","payload":"Time :","payloadType":"str","x":320,"y":440,"wires":[["25609403.fcb49c"]]},{"id":"25609403.fcb49c","type":"function","z":"78e60867.18ff28","name":"Date2","func":"var date2 = new Date();\nmsg.payload = msg.payload + date2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":480,"wires":[["45e91d1c.04b1e4"]]},{"id":"45e91d1c.04b1e4","type":"debug","z":"78e60867.18ff28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":540,"wires":[]},{"id":"812ca3f2.a814d","type":"ui_audio","z":"78c95e0a.f9b9f","name":"","group":"acfade1f.68e6d","voice":"","always":"","x":740,"y":540,"wires":[]},{"id":"ba513672.88c868","type":"inject","z":"78c95e0a.f9b9f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":280,"y":480,"wires":[["e31ff2e6.ea082"]]},{"id":"a86552eb.bbb45","type":"debug","z":"78c95e0a.f9b9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":480,"wires":[]},{"id":"e31ff2e6.ea082","type":"function","z":"78c95e0a.f9b9f","name":"","func":"msg.payload = \"안녕하세요.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["a86552eb.bbb45","812ca3f2.a814d"]]},{"id":"cd13faf1.492848","type":"inject","z":"5cd6165e.74d368","name":"난수","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["384baebc.b18852"]]},{"id":"384baebc.b18852","type":"function","z":"5cd6165e.74d368","name":"random","func":"var random = Math.floor(Math.random()*50);\nmsg.payload = random;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["64da1523.9f9d7c"]]},{"id":"64da1523.9f9d7c","type":"debug","z":"5cd6165e.74d368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"f24dc5c8.cd7818","type":"inject","z":"5cd6165e.74d368","name":"당첨","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["9d8c7a68.ab6918"]]},{"id":"9d8c7a68.ab6918","type":"function","z":"5cd6165e.74d368","name":"random2","func":"var random2 = Math.floor(Math.random()*50);\nmsg.payload = random2 + \"번 당첨 축하드립니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["f95c6c1.990779","e4f450ed.f6564"]]},{"id":"f95c6c1.990779","type":"debug","z":"5cd6165e.74d368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"e4f450ed.f6564","type":"ui_audio","z":"5cd6165e.74d368","name":"","group":"acfade1f.68e6d","voice":"","always":"","x":700,"y":600,"wires":[]},{"id":"dfcb161.5873fe8","type":"inject","z":"405ba968.d238f8","name":"1씩 증가","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["9ae7d8a7.2d6be8"]]},{"id":"9ae7d8a7.2d6be8","type":"function","z":"405ba968.d238f8","name":"up","func":"for(var i=0; i<100; i++)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["46de93a4.4484fc"]]},{"id":"46de93a4.4484fc","type":"debug","z":"405ba968.d238f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"bc2b8699.3da4a8","type":"inject","z":"405ba968.d238f8","name":"1초에 1씩 증가","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["4393d0dc.fa209"]]},{"id":"4393d0dc.fa209","type":"function","z":"405ba968.d238f8","name":"1s time 1up","func":"for(var i=0; i<100;i++)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["7bad9bc6.1e8d14"]]},{"id":"269d03b3.23b76c","type":"debug","z":"405ba968.d238f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"bffdc9b6.2652d8","type":"ui_chart","z":"405ba968.d238f8","name":"","group":"95ea70e9.c9913","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"2","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":400,"wires":[[]]},{"id":"7bad9bc6.1e8d14","type":"delay","z":"405ba968.d238f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":340,"wires":[["269d03b3.23b76c","bffdc9b6.2652d8"]]},{"id":"a3edc212.01dba","type":"inject","z":"405ba968.d238f8","name":"1초에 1씩 감소","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["77d88c18.a6ba94"]]},{"id":"77d88c18.a6ba94","type":"function","z":"405ba968.d238f8","name":"1s time 1down","func":"for(var i=0; i<100; i--)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":500,"wires":[["5a261b1c.cc5804"]]},{"id":"5a261b1c.cc5804","type":"delay","z":"405ba968.d238f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":540,"wires":[["97c58f74.de57a","2a3c1dd0.95a2c2"]]},{"id":"97c58f74.de57a","type":"debug","z":"405ba968.d238f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":560,"wires":[]},{"id":"2a3c1dd0.95a2c2","type":"ui_chart","z":"405ba968.d238f8","name":"","group":"95ea70e9.c9913","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":620,"wires":[[]]},{"id":"9bbed4b4.2c0ae8","type":"debug","z":"ded5bccd.d05ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"3c04e026.1b9ab","type":"function","z":"ded5bccd.d05ca","name":"","func":"msg.payload = msg.payload +\"번을 선택했습니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":280,"wires":[["9bbed4b4.2c0ae8","909731d0.32b44"]]},{"id":"72a46e97.7201c","type":"ui_slider","z":"ded5bccd.d05ca","name":"","label":"번호","tooltip":"","group":"af6ed7ce.2b6e48","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":220,"y":240,"wires":[["3c04e026.1b9ab"]]},{"id":"909731d0.32b44","type":"ui_audio","z":"ded5bccd.d05ca","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":720,"y":360,"wires":[]},{"id":"3ca763de.f1af2c","type":"ui_slider","z":"ded5bccd.d05ca","name":"","label":"조건문 번호","tooltip":"","group":"af6ed7ce.2b6e48","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"5","step":1,"x":240,"y":380,"wires":[["25ddd265.205ede"]]},{"id":"25ddd265.205ede","type":"function","z":"ded5bccd.d05ca","name":"","func":"if(msg.payload == 0)\n    msg.payload = \"영입니다.\"\n\nelse if(msg.payload ==1)\n    msg.payload = \"일입니다.\";\n    \nelse if(msg.payload ==2)\n    msg.payload = \"이입니다.\";\n    \nelse if(msg.payload ==1)\n    msg.payload = \"삼입니다.\";\n\nelse if(msg.payload ==1)\n    msg.payload = \"사입니다.\";\n\nelse \n    msg.payload = \"오입니다.\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":440,"wires":[["523e93ea.41b28c","cb51dd3a.79103","dae0d22c.1d97c"]]},{"id":"523e93ea.41b28c","type":"debug","z":"ded5bccd.d05ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"cb51dd3a.79103","type":"ui_audio","z":"ded5bccd.d05ca","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":680,"y":540,"wires":[]},{"id":"dae0d22c.1d97c","type":"ui_text","z":"ded5bccd.d05ca","group":"af6ed7ce.2b6e48","order":3,"width":0,"height":0,"name":"","label":"번호","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":600,"wires":[]},{"id":"422e698d.ba8bc8","type":"ui_slider","z":"a8ced41d.a26868","name":"","label":"slider","tooltip":"","group":"af6ed7ce.2b6e48","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":230,"y":180,"wires":[["1bf0dfd1.0240e"]]},{"id":"1bf0dfd1.0240e","type":"ui_button","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":240,"wires":[["e8406db3.ebb5d"]]},{"id":"3fb392a8.afab7e","type":"debug","z":"a8ced41d.a26868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"f21495ff.6c8628","type":"ui_audio","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":880,"y":340,"wires":[]},{"id":"e8406db3.ebb5d","type":"function","z":"a8ced41d.a26868","name":"","func":"if(msg.payload == 10)\n    msg.payload = \"10번 입니다.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["3fb392a8.afab7e","f21495ff.6c8628"]]},{"id":"783bbf9e.67506","type":"ui_button","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","order":9,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":460,"wires":[["fed1f625.82f648"]]},{"id":"fed1f625.82f648","type":"function","z":"a8ced41d.a26868","name":"","func":"var random2 = Math.floor(Math.random()*10);\nmsg.payload = random2 + \"번 입니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["e6da1c29.a5b03","ae89ee89.8e198","a063cf30.90d1e"]]},{"id":"e6da1c29.a5b03","type":"debug","z":"a8ced41d.a26868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":540,"wires":[]},{"id":"ae89ee89.8e198","type":"ui_audio","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":680,"y":600,"wires":[]},{"id":"a063cf30.90d1e","type":"ui_text","z":"a8ced41d.a26868","group":"af6ed7ce.2b6e48","order":10,"width":0,"height":0,"name":"","label":"당첨자","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":660,"wires":[]},{"id":"1a71a5b2.73b4fa","type":"inject","z":"494e871b.e44f98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":320,"wires":[["e6076686.0c0e08"]]},{"id":"e6076686.0c0e08","type":"function","z":"494e871b.e44f98","name":"","func":"msg.payload = \"오늘은 따뜻하네요.\";\nmsg.topic = \"오늘의 날씨\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":340,"wires":[["6fca2b4d.608f34"]]},{"id":"6fca2b4d.608f34","type":"e-mail","z":"494e871b.e44f98","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":690,"y":400,"wires":[]}]