2일차 수업.json
[{"id":"5cd6165e.74d368","type":"tab","label":"Function(Random)","disabled":false,"info":""},{"id":"405ba968.d238f8","type":"tab","label":"Function(0 to 100 up)","disabled":false,"info":""},{"id":"ded5bccd.d05ca","type":"tab","label":"Function(if)","disabled":false,"info":""},{"id":"a8ced41d.a26868","type":"tab","label":"Quiz1","disabled":false,"info":""},{"id":"d2b63da1.cfb7c","type":"tab","label":"Quiz2","disabled":false,"info":""},{"id":"e0f3bedd.945c6","type":"tab","label":"weather","disabled":false,"info":""},{"id":"8a1e8d42.7fc15","type":"tab","label":"미세먼지","disabled":false,"info":""},{"id":"b50e9be4.34cf68","type":"tab","label":"Quiz3","disabled":false,"info":""},{"id":"572fd832.6df9c8","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"8f46b33d.88cc4","type":"ui_group","name":"base","tab":"","disp":true,"width":"6","collapse":false},{"id":"c4af561b.2cb678","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0004ff","baseFont":"Copperplate,Copperplate Gothic Light,fantasy","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0004ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0004ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#4d4fff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0004ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Copperplate,Copperplate Gothic Light,fantasy"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"67df297c.a94e88","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"acfade1f.68e6d","type":"ui_group","name":"base","tab":"67df297c.a94e88","order":1,"disp":true,"width":"6","collapse":false},{"id":"c6038285.81ef8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"e38f1e10.acbee","type":"ui_group","name":"base2","tab":"67df297c.a94e88","order":4,"disp":true,"width":"6","collapse":false},{"id":"95ea70e9.c9913","type":"ui_group","name":"up&down","tab":"67df297c.a94e88","order":5,"disp":true,"width":"6","collapse":false},{"id":"af6ed7ce.2b6e48","type":"ui_group","name":"if","tab":"67df297c.a94e88","order":6,"disp":true,"width":"6","collapse":false},{"id":"54c21f6b.1a3cf","type":"ui_group","name":"Quiz","tab":"67df297c.a94e88","order":7,"disp":true,"width":"6","collapse":false},{"id":"7a6044e.9fdfdbc","type":"ui_tab","name":"Quiz","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"fd9ad44b.dea0a8","type":"ui_group","name":"Group 1","tab":"7a6044e.9fdfdbc","order":1,"disp":true,"width":6},{"id":"4fdb479a.693338","type":"ui_group","name":"weather","tab":"67df297c.a94e88","order":2,"disp":true,"width":"6","collapse":false},{"id":"8a2bd79a.989478","type":"ui_group","name":"미세먼지","tab":"67df297c.a94e88","order":3,"disp":true,"width":"6","collapse":false},{"id":"f4dd82f5.83e67","type":"ui_group","name":"control(show&hide)","tab":"c6038285.81ef8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd13faf1.492848","type":"inject","z":"5cd6165e.74d368","name":"난수","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["384baebc.b18852"]]},{"id":"384baebc.b18852","type":"function","z":"5cd6165e.74d368","name":"random","func":"var random = Math.floor(Math.random()*50);\nmsg.payload = random;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["64da1523.9f9d7c"]]},{"id":"64da1523.9f9d7c","type":"debug","z":"5cd6165e.74d368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"f24dc5c8.cd7818","type":"inject","z":"5cd6165e.74d368","name":"당첨","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":440,"wires":[["9d8c7a68.ab6918"]]},{"id":"9d8c7a68.ab6918","type":"function","z":"5cd6165e.74d368","name":"random2","func":"var random2 = Math.floor(Math.random()*50);\nmsg.payload = random2 + \"번 당첨 축하드립니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["f95c6c1.990779","e4f450ed.f6564"]]},{"id":"f95c6c1.990779","type":"debug","z":"5cd6165e.74d368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"e4f450ed.f6564","type":"ui_audio","z":"5cd6165e.74d368","name":"","group":"acfade1f.68e6d","voice":"","always":"","x":700,"y":600,"wires":[]},{"id":"dfcb161.5873fe8","type":"inject","z":"405ba968.d238f8","name":"1씩 증가","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["9ae7d8a7.2d6be8"]]},{"id":"9ae7d8a7.2d6be8","type":"function","z":"405ba968.d238f8","name":"up","func":"for(var i=0; i<100; i++)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["46de93a4.4484fc"]]},{"id":"46de93a4.4484fc","type":"debug","z":"405ba968.d238f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"bc2b8699.3da4a8","type":"inject","z":"405ba968.d238f8","name":"1초에 1씩 증가","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["4393d0dc.fa209"]]},{"id":"4393d0dc.fa209","type":"function","z":"405ba968.d238f8","name":"1s time 1up","func":"for(var i=0; i<100;i++)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["7bad9bc6.1e8d14"]]},{"id":"269d03b3.23b76c","type":"debug","z":"405ba968.d238f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"bffdc9b6.2652d8","type":"ui_chart","z":"405ba968.d238f8","name":"","group":"95ea70e9.c9913","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"2","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":400,"wires":[[]]},{"id":"7bad9bc6.1e8d14","type":"delay","z":"405ba968.d238f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":340,"wires":[["269d03b3.23b76c","bffdc9b6.2652d8"]]},{"id":"a3edc212.01dba","type":"inject","z":"405ba968.d238f8","name":"1초에 1씩 감소","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":480,"wires":[["77d88c18.a6ba94"]]},{"id":"77d88c18.a6ba94","type":"function","z":"405ba968.d238f8","name":"1s time 1down","func":"for(var i=0; i<100; i--)\n    node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":500,"wires":[["5a261b1c.cc5804"]]},{"id":"5a261b1c.cc5804","type":"delay","z":"405ba968.d238f8","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":540,"wires":[["97c58f74.de57a","2a3c1dd0.95a2c2"]]},{"id":"97c58f74.de57a","type":"debug","z":"405ba968.d238f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":560,"wires":[]},{"id":"2a3c1dd0.95a2c2","type":"ui_chart","z":"405ba968.d238f8","name":"","group":"95ea70e9.c9913","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":620,"wires":[[]]},{"id":"9bbed4b4.2c0ae8","type":"debug","z":"ded5bccd.d05ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":300,"wires":[]},{"id":"3c04e026.1b9ab","type":"function","z":"ded5bccd.d05ca","name":"","func":"msg.payload = msg.payload +\"번을 선택했습니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":280,"wires":[["9bbed4b4.2c0ae8","909731d0.32b44"]]},{"id":"72a46e97.7201c","type":"ui_slider","z":"ded5bccd.d05ca","name":"","label":"번호","tooltip":"","group":"af6ed7ce.2b6e48","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":220,"y":240,"wires":[["3c04e026.1b9ab"]]},{"id":"909731d0.32b44","type":"ui_audio","z":"ded5bccd.d05ca","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":720,"y":360,"wires":[]},{"id":"3ca763de.f1af2c","type":"ui_slider","z":"ded5bccd.d05ca","name":"","label":"조건문 번호","tooltip":"","group":"af6ed7ce.2b6e48","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"5","step":1,"x":240,"y":380,"wires":[["25ddd265.205ede"]]},{"id":"25ddd265.205ede","type":"function","z":"ded5bccd.d05ca","name":"","func":"if(msg.payload == 0)\n    msg.payload = \"영입니다.\"\n\nelse if(msg.payload ==1)\n    msg.payload = \"일입니다.\";\n    \nelse if(msg.payload ==2)\n    msg.payload = \"이입니다.\";\n    \nelse if(msg.payload ==1)\n    msg.payload = \"삼입니다.\";\n\nelse if(msg.payload ==1)\n    msg.payload = \"사입니다.\";\n\nelse \n    msg.payload = \"오입니다.\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":440,"wires":[["523e93ea.41b28c","cb51dd3a.79103","dae0d22c.1d97c"]]},{"id":"523e93ea.41b28c","type":"debug","z":"ded5bccd.d05ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":480,"wires":[]},{"id":"cb51dd3a.79103","type":"ui_audio","z":"ded5bccd.d05ca","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":680,"y":540,"wires":[]},{"id":"dae0d22c.1d97c","type":"ui_text","z":"ded5bccd.d05ca","group":"af6ed7ce.2b6e48","order":3,"width":0,"height":0,"name":"","label":"번호","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":600,"wires":[]},{"id":"422e698d.ba8bc8","type":"ui_slider","z":"a8ced41d.a26868","name":"","label":"slider","tooltip":"","group":"af6ed7ce.2b6e48","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":230,"y":180,"wires":[["1bf0dfd1.0240e"]]},{"id":"1bf0dfd1.0240e","type":"ui_button","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":240,"wires":[["e8406db3.ebb5d"]]},{"id":"3fb392a8.afab7e","type":"debug","z":"a8ced41d.a26868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"f21495ff.6c8628","type":"ui_audio","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":880,"y":340,"wires":[]},{"id":"e8406db3.ebb5d","type":"function","z":"a8ced41d.a26868","name":"","func":"if(msg.payload == 10)\n    msg.payload = \"10번 입니다.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":280,"wires":[["3fb392a8.afab7e","f21495ff.6c8628"]]},{"id":"783bbf9e.67506","type":"ui_button","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","order":9,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":460,"wires":[["fed1f625.82f648"]]},{"id":"fed1f625.82f648","type":"function","z":"a8ced41d.a26868","name":"","func":"var random2 = Math.floor(Math.random()*10);\nmsg.payload = random2 + \"번 입니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["e6da1c29.a5b03","ae89ee89.8e198","a063cf30.90d1e"]]},{"id":"e6da1c29.a5b03","type":"debug","z":"a8ced41d.a26868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":540,"wires":[]},{"id":"ae89ee89.8e198","type":"ui_audio","z":"a8ced41d.a26868","name":"","group":"af6ed7ce.2b6e48","voice":"","always":"","x":680,"y":600,"wires":[]},{"id":"a063cf30.90d1e","type":"ui_text","z":"a8ced41d.a26868","group":"af6ed7ce.2b6e48","order":10,"width":0,"height":0,"name":"","label":"당첨자","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":660,"wires":[]},{"id":"a76ef1fa.7b83e","type":"function","z":"d2b63da1.cfb7c","name":"50%확률","func":"var random = Math.floor(Math.random()*2);\nif(random == 0)\n    msg.payload = \"당첨입니다.\";\nelse\n    msg.payload = \"꽝입니다.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":120,"wires":[["2f3e9e71.269212","bfbe3110.2022a","5199cdb0.9896f4"]]},{"id":"2f3e9e71.269212","type":"debug","z":"d2b63da1.cfb7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"bfbe3110.2022a","type":"ui_audio","z":"d2b63da1.cfb7c","name":"","group":"54c21f6b.1a3cf","voice":"","always":"","x":680,"y":180,"wires":[]},{"id":"3644fab.80d3206","type":"ui_button","z":"d2b63da1.cfb7c","name":"","group":"54c21f6b.1a3cf","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":120,"wires":[["a76ef1fa.7b83e"]]},{"id":"5199cdb0.9896f4","type":"ui_text","z":"d2b63da1.cfb7c","group":"54c21f6b.1a3cf","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":240,"wires":[]},{"id":"15a64b6f.17cfd5","type":"inject","z":"d2b63da1.cfb7c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"끝","payloadType":"str","x":220,"y":360,"wires":[["a183b9bf.00a758"]]},{"id":"a183b9bf.00a758","type":"function","z":"d2b63da1.cfb7c","name":"0~100사이 홀수만","func":"for(var i =0;i<=100;i++)\n    if(i%2 != 0)\n        node.send({payload:i});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["5d049166.d89be"]]},{"id":"50308bc8.da15b4","type":"debug","z":"d2b63da1.cfb7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"5d049166.d89be","type":"delay","z":"d2b63da1.cfb7c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":360,"wires":[["50308bc8.da15b4"]]},{"id":"c3afae38.8a45c","type":"inject","z":"e0f3bedd.945c6","name":"weather","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":200,"wires":[["148ab7b6.cfa0b8"]]},{"id":"644aad06.2f79e4","type":"debug","z":"e0f3bedd.945c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"148ab7b6.cfa0b8","type":"http request","z":"e0f3bedd.945c6","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=gD8f9AkjsEppxtmmBtqTtIH0RkXoJj28jNzh5sMkaFTxsg7Rq%2FzXOVZxtoimKcIFA0eC9vLplVPPfonEMnONDw%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=0600&nx=62&ny=119","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":200,"wires":[["644aad06.2f79e4","51dbe9fa.a84c78","fc86e716.dcab88"]]},{"id":"51dbe9fa.a84c78","type":"debug","z":"e0f3bedd.945c6","name":"오전 6시 기온","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.body.items.item[3].obsrValue","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":260,"wires":[]},{"id":"fc86e716.dcab88","type":"debug","z":"e0f3bedd.945c6","name":"오전 6시 습도","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.body.items.item[1].obsrValue","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":320,"wires":[]},{"id":"4374908e.ce0c3","type":"inject","z":"e0f3bedd.945c6","name":"weather","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":480,"wires":[["7b9a2bc4.a4e1b4"]]},{"id":"54727672.682408","type":"debug","z":"e0f3bedd.945c6","name":"봉담읍 오전 10시 습도","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.body.items.item[1].obsrValue","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":480,"wires":[]},{"id":"7b9a2bc4.a4e1b4","type":"http request","z":"e0f3bedd.945c6","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=Sy%2FB8TPlVdYC0q7iMLyImE7PjeUf01J9DOja4msnx3nAJzqa72ZOCVKE8VQGrpqh6zT7bQs4lJxkBD2xjCMxvQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=1000&nx=59&ny=119","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":480,"wires":[["54727672.682408","e6521e99.066ae"]]},{"id":"e6521e99.066ae","type":"debug","z":"e0f3bedd.945c6","name":"봉담읍 오전 10시 기온","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.response.body.items.item[3].obsrValue","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":540,"wires":[]},{"id":"4d98e1e0.70807","type":"http request","z":"e0f3bedd.945c6","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=Sy%2FB8TPlVdYC0q7iMLyImE7PjeUf01J9DOja4msnx3nAJzqa72ZOCVKE8VQGrpqh6zT7bQs4lJxkBD2xjCMxvQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=1200&nx=59&ny=119","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":680,"wires":[["d99b160a.1809d8","52ac235.6b63bdc"]]},{"id":"9f179af7.bfa818","type":"inject","z":"e0f3bedd.945c6","name":"weather2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":680,"wires":[["4d98e1e0.70807"]]},{"id":"2a59ca85.bdae56","type":"debug","z":"e0f3bedd.945c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":680,"wires":[]},{"id":"d99b160a.1809d8","type":"function","z":"e0f3bedd.945c6","name":"","func":"var payload = msg.payload.response.body.items.item[3].obsrValue;\nreturn{\n    payload:payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":680,"wires":[["2a59ca85.bdae56","acb21c10.366a2"]]},{"id":"acb21c10.366a2","type":"ui_gauge","z":"e0f3bedd.945c6","name":"weather","group":"4fdb479a.693338","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"℃","format":"{{value}}","min":"-20","max":"40","colors":["#5871ee","#23f906","#ca3838"],"seg1":"5","seg2":"24","x":900,"y":740,"wires":[]},{"id":"52ac235.6b63bdc","type":"function","z":"e0f3bedd.945c6","name":"","func":"var payload = msg.payload.response.body.items.item[1].obsrValue;\nreturn{\n    payload:payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":800,"wires":[["c1921c6e.22237","3ceee72c.ef9408"]]},{"id":"c1921c6e.22237","type":"debug","z":"e0f3bedd.945c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":820,"wires":[]},{"id":"3ceee72c.ef9408","type":"ui_gauge","z":"e0f3bedd.945c6","name":"","group":"4fdb479a.693338","order":3,"width":0,"height":0,"gtype":"gage","title":"습도","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff1900","#e6e600","#330aff"],"seg1":"50","seg2":"60","x":890,"y":880,"wires":[]},{"id":"a0310c30.74cc6","type":"inject","z":"e0f3bedd.945c6","name":"강수확률","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1000,"wires":[["e67afb2.db53308"]]},{"id":"e67afb2.db53308","type":"http request","z":"e0f3bedd.945c6","name":"JSON","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://apis.data.go.kr/1360000/VilageFcstInfoService/getVilageFcst?serviceKey=Sy%2FB8TPlVdYC0q7iMLyImE7PjeUf01J9DOja4msnx3nAJzqa72ZOCVKE8VQGrpqh6zT7bQs4lJxkBD2xjCMxvQ%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20201229&base_time=0500&nx=59&ny=119","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1000,"wires":[["c7cdc8d3.6eab28"]]},{"id":"c7cdc8d3.6eab28","type":"function","z":"e0f3bedd.945c6","name":"","func":"var payload = msg.payload.response.body.items.item[0].fcstValue;\nreturn{\n    payload:payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1000,"wires":[["4d61989e.e7f518","ab66bea0.4bba1"]]},{"id":"4d61989e.e7f518","type":"debug","z":"e0f3bedd.945c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":1000,"wires":[]},{"id":"ab66bea0.4bba1","type":"ui_gauge","z":"e0f3bedd.945c6","name":"","group":"4fdb479a.693338","order":1,"width":0,"height":0,"gtype":"wave","title":"강수확률","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff1900","#e6e600","#330aff"],"seg1":"50","seg2":"80","x":820,"y":1060,"wires":[]},{"id":"d5fb075c.d283a8","type":"inject","z":"8a1e8d42.7fc15","name":"미세먼지주의보","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["e0717613.7e8048"]]},{"id":"ce5ff46c.bf2a18","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].dataDate;\nreturn {payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":260,"wires":[["27818e79.235fc2","aee30346.06263"]]},{"id":"27818e79.235fc2","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"e0717613.7e8048","type":"http request","z":"8a1e8d42.7fc15","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://openapi.airkorea.or.kr/openapi/services/rest/UlfptcaAlarmInqireSvc/getUlfptcaAlarmInfo?serviceKey=Sy%2FB8TPlVdYC0q7iMLyImE7PjeUf01J9DOja4msnx3nAJzqa72ZOCVKE8VQGrpqh6zT7bQs4lJxkBD2xjCMxvQ%3D%3D&pageNo=1&numOfRows=1&year=2020&itemCode=PM10","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":160,"wires":[["ed8bf864.b860c8"]]},{"id":"ed8bf864.b860c8","type":"xml","z":"8a1e8d42.7fc15","name":"","property":"payload","attr":"","chr":"","x":510,"y":160,"wires":[["ce5ff46c.bf2a18","51a1bb3.5147944","2cff9de3.1d0dc2","2f67e69f.6b789a","73d62eed.1bd39","fe12254e.6660c8","ef8b7c93.a240f"]]},{"id":"9c776d9e.c84fe","type":"inject","z":"8a1e8d42.7fc15","name":"미세먼지 정보","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1000,"wires":[["92548c18.0a639"]]},{"id":"5edf156.7892aec","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1000,"wires":[]},{"id":"92548c18.0a639","type":"http request","z":"8a1e8d42.7fc15","name":"JSON","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://openapi.airkorea.or.kr/openapi/services/rest/UlfptcaAlarmInqireSvc/getUlfptcaAlarmInfo?serviceKey=Sy%2FB8TPlVdYC0q7iMLyImE7PjeUf01J9DOja4msnx3nAJzqa72ZOCVKE8VQGrpqh6zT7bQs4lJxkBD2xjCMxvQ%3D%3D&pageNo=1&numOfRows=10&year=2020&itemCode=PM10","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":1000,"wires":[["760695c4.09405c"]]},{"id":"760695c4.09405c","type":"xml","z":"8a1e8d42.7fc15","name":"","property":"payload","attr":"","chr":"","x":430,"y":1000,"wires":[["f6387e24.ddf3"]]},{"id":"f6387e24.ddf3","type":"function","z":"8a1e8d42.7fc15","name":"","func":"for(var i=0; i<10; i++)\n    var payload = msg.payload.response.body[0].items[0].item[i].districtName;\n    \n    node.send({payload:payload});\n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1000,"wires":[["5edf156.7892aec"]]},{"id":"aee30346.06263","type":"ui_text","z":"8a1e8d42.7fc15","group":"8a2bd79a.989478","order":0,"width":0,"height":0,"name":"","label":"발생일시","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":320,"wires":[]},{"id":"51a1bb3.5147944","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"2cff9de3.1d0dc2","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].issueTime;\nreturn {payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":380,"wires":[["a3e4fcec.b30e4"]]},{"id":"2f67e69f.6b789a","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].itemCode;\nreturn {payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":480,"wires":[["769f1a18.9132c4"]]},{"id":"73d62eed.1bd39","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].districtName;\nreturn {payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":560,"wires":[["720deb4f.7ac044"]]},{"id":"fe12254e.6660c8","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].clearDate;\nreturn {payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":640,"wires":[["a5d00142.e0148"]]},{"id":"a3e4fcec.b30e4","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":380,"wires":[]},{"id":"769f1a18.9132c4","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":480,"wires":[]},{"id":"720deb4f.7ac044","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":560,"wires":[]},{"id":"a5d00142.e0148","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":640,"wires":[]},{"id":"ef8b7c93.a240f","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].clearTime;\nreturn {payload:payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":720,"wires":[["24f9e57f.42cb9a"]]},{"id":"24f9e57f.42cb9a","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":720,"wires":[]},{"id":"2c8f5a01.393486","type":"http request","z":"8a1e8d42.7fc15","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://openapi.airkorea.or.kr/openapi/services/rest/UlfptcaAlarmInqireSvc/getUlfptcaAlarmInfo?serviceKey=Sy%2FB8TPlVdYC0q7iMLyImE7PjeUf01J9DOja4msnx3nAJzqa72ZOCVKE8VQGrpqh6zT7bQs4lJxkBD2xjCMxvQ%3D%3D&pageNo=1&numOfRows=1&year=2020&itemCode=PM25","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1140,"wires":[["b6fabd04.b8c79"]]},{"id":"3712c986.c36a96","type":"inject","z":"8a1e8d42.7fc15","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1140,"wires":[["2c8f5a01.393486"]]},{"id":"b8d5d26a.ac89c","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].issueVal;\n\nreturn {\n    payload:payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1240,"wires":[["1b1e49fb.ee9676"]]},{"id":"47223f92.83a52","type":"debug","z":"8a1e8d42.7fc15","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1140,"wires":[]},{"id":"1b1e49fb.ee9676","type":"ui_gauge","z":"8a1e8d42.7fc15","name":"","group":"8a2bd79a.989478","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":1260,"wires":[]},{"id":"161c301d.ec7fb","type":"ui_text","z":"8a1e8d42.7fc15","group":"8a2bd79a.989478","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1340,"wires":[]},{"id":"b6fabd04.b8c79","type":"xml","z":"8a1e8d42.7fc15","name":"","property":"payload","attr":"","chr":"","x":510,"y":1140,"wires":[["47223f92.83a52","b8d5d26a.ac89c","1c39341.62708cc"]]},{"id":"1c39341.62708cc","type":"function","z":"8a1e8d42.7fc15","name":"","func":"var payload = msg.payload.response.body[0].items[0].item[0].districtName;\n\nreturn {\n    payload:payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1300,"wires":[["161c301d.ec7fb"]]},{"id":"3b5ca2b7.4a03fe","type":"ui_ui_control","z":"b50e9be4.34cf68","name":"","events":"all","x":760,"y":460,"wires":[[]]},{"id":"b141094d.c4f958","type":"ui_switch","z":"b50e9be4.34cf68","name":"","label":"Tab1_Quiz","tooltip":"","group":"f4dd82f5.83e67","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":420,"wires":[["c0454a4f.984628"]]},{"id":"56a87558.d42dfc","type":"ui_switch","z":"b50e9be4.34cf68","name":"","label":"Tab1 all","tooltip":"","group":"f4dd82f5.83e67","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":280,"y":500,"wires":[["38bccd38.7d25a2"]]},{"id":"c0454a4f.984628","type":"function","z":"b50e9be4.34cf68","name":"","func":"if(msg.payload == true)\n    msg.payload ={\"group\":{\"hide\":[\"Tab_1_Quiz\"]}};\nelse\n    msg.payload ={\"group\":{\"show\":[\"Tab_1_Quiz\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":420,"wires":[["3b5ca2b7.4a03fe"]]},{"id":"38bccd38.7d25a2","type":"function","z":"b50e9be4.34cf68","name":"","func":"if(msg.payload == true)\n    msg.payload = {\"tabs\":{\"hide\":[\"Tab_1\"]}};\nelse \n    msg.payload = {\"tabs\":{\"show\":[\"Tab_1\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":500,"wires":[["3b5ca2b7.4a03fe"]]},{"id":"84ff6e31.4f30d","type":"ui_led","z":"b50e9be4.34cf68","group":"54c21f6b.1a3cf","order":4,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":510,"y":320,"wires":[]},{"id":"6b07966b.657da8","type":"ui_switch","z":"b50e9be4.34cf68","name":"","label":"switch","tooltip":"","group":"54c21f6b.1a3cf","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":320,"wires":[["84ff6e31.4f30d"]]}]